/*
jstree
*/
li.jstree-node ,.widget-area .widget li{
    margin-bottom: 0 !important;
}

.widget_bp_docs_tree_widget ul {
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.widget_bp_docs_tree_widget li {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.jstree-short-title{
    width:80px;
    overflow:hidden;
}